body {
    background-color: #89CFF0;
}
.cell {
    width: 1.35em;
    height: 1.35em;
    border: 2px solid;
    line-height: 1.33em;
    font-size: 3.5em;
    cursor: pointer;
    background-color: #F5F5DC;
}

#gameContainer {
    font-family: "Permament Marker", cursive;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    padding: 0.5em;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 14em;
    margin: auto;
    background-color: #F5F5DC;
}

#restartBtn {
    background-color: #ffe135;
    color: black;
    border-radius: 2.5em;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em;
    width: 10em;
    cursor: pointer;
}

#restartBtn:hover {
    box-shadow: rgba(100,100,111,0.2) 0.2em 0.6em 1em 0em;
}